.description {
  @apply content-start sm:content-center;
  margin        : 2rem 0 0 0;
  padding       : 0;
  width         : auto;
  height        : auto;
  display       : flex;
  flex-direction: column;
}

.icon {
  @apply w-1/5 sm:w-3/5;
  margin : 0 0 2rem 0;
  padding: 0;
  height : 14rem;
  width  : 14rem;
}

.name {
  @apply text-4xl sm:text-4xl;
  margin : 0 0 1rem 0;
}

.jump-to-posts {
  margin        : 1vh 0;
  padding       : 0;
  display       : flex;
  flex-direction: column;
  align-items   : flex-end;
}

.jump-to-posts a:hover {
  color: #38b48b;
}

.links {
  @apply space-x-2;
  margin        : 1rem 0 0 0;
  padding       : 0;
  width         : 100%;
  height        : auto;
  display       : flex;
  flex-direction: row;
}

.links img {
  height: 2rem;
  width : 2rem;
}

.profile {
  @apply flex flex-row sm:flex-col sm:items-center space-x-8;
  margin         : 5vh 0 0 0;
  padding        : 0;
  width          : 100%;
  height         : 100%;
  justify-content: center;
}

.recent-posts {
  margin    : 2vh;
  padding   : 0;
  border-top: 0.1rem dashed #478384;
}

.recent-posts h2 {
  margin-left : 0;
  padding-left: 0;
  border      : none;
}

.recent-posts .posts {
  margin        : 0;
  padding       : 0;
  width         : 100%;
  height        : auto;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  border-style  : none;
}

.skill {
  @apply text-lg sm:text-base;
  marker : 0;
  padding: 0;
  width  : 100%;
}