#error-404 {
  @apply flex flex-row sm:flex-col space-x-4;
  margin         : 0;
  padding        : 0;
  width          : 100%;
  height         : 100%;
  align-items    : center;
  justify-content: center;
  font-size      : 7vh;
}

#footer {
  margin    : 2rem 0 0 0;
  padding   : 1em 1rem;
  width     : 100%;
  height    : 4vh;
  text-align: center;
  font-size : 1rem;
  border-top: 0.2rem solid #478384;
}

#header {
  width          : 100%;
  height         : 6vh;
  margin         : 0 0 2rem 0;
  padding        : 0.2rem;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: flex-start;
  color          : #eaf4fc;
  border-bottom  : 0.2rem solid #478384;
}

#main {
  margin         : 0;
  padding        : 1rem 2rem;
  width          : 100%;
  min-height     : 80vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.accent-color {
  color: #478384;
}

.logo {
  margin   : 0 1rem;
  padding  : 0;
  width    : auto;
  height   : auto;
  font-size: 3vh;
}

.logo span {
  color: #38b48b;
}

.nav {
  margin        : 0 1rem 0 auto;
  padding       : 0;
  min-width     : auto;
  height        : auto;
  display       : flex;
  flex-direction: row;
  font-size     : 1.5vh;
}

.nav ul {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
}

.nav li {
  margin : 0 0 0 1rem;
  padding: 0;
}