/*
### media ###
sm: ~ 768
md: ~ 1024
lg: ~ 1280
xl: 1281 ~
*/

#error-404 {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  height         : 100%;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  font-size      : 7vh;
}

#error-404 span {
  margin: 0 .5rem;
}

#footer {
  margin    : 2rem 0 0 0;
  padding   : 0.3rem 0;
  width     : 100%;
  height    : auto;
  text-align: center;
  font-size : 1rem;
  border-top: 0.2rem solid #478384;
}

#header {
  width          : 100%;
  height         : 6%;
  margin         : 0 0 2rem 0;
  padding        : 0.2rem 0;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: flex-start;
  color          : #eaf4fc;
  border-bottom  : 0.2rem solid #478384;
}

#main {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  min-height     : 85%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.accent-color {
  color: #478384;
}

.logo {
  margin   : 0 1rem;
  padding  : 0;
  width    : auto;
  height   : auto;
  font-size: 3vh;
}

.logo span {
  color: #38b48b;
}

.nav {
  margin        : 0 1rem 0 auto;
  padding       : 0;
  min-width     : auto;
  height        : auto;
  display       : flex;
  flex-direction: row;
  font-size     : 1.5vh;
}

.nav ul {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
}

.nav li {
  margin : 0 0 0 1rem;
  padding: 0;
}

@media (width <= 768px) {
  #error-404 {
    display: flex;
    flex-direction: column;
  }

  #main {
    padding: 1rem 0;
  }
}