video {
  margin : 2vh auto;
  padding: 0;
}

.article ul li {
  list-style-type: square;
}

.article ol li {
  list-style-type: decimal;
}

.article {
  margin   : 0 0 2rem;
  padding  : 0 2rem;
  width    : 65%;
  height   : auto;
  font-size: 1rem;
}

.article a {
  font-size : 1rem;
  font-style: italic;
  color     : #38b48b;
}

.article a:hover {
  color: #00a381;
}

.article img {
  margin        : 1.5rem auto;
  padding       : 0;
  max-width     : 60vw;
  max-height    : 40vh;
  user-select   : none;
  pointer-events: none;
}

.content {
  margin-bottom: 1.5rem;
}

.article .icon {
  margin: 2rem;
  width : 4vw;
}

@media (width <= 768px) {
  .article {
    width: 100%;
    border-bottom: #478384 dashed 2px;
  }
}

@media (768px < width <= 1024px) {
  .article {
    width: 90%;
    border-bottom: #478384 dashed 2px;
  }
}

@media (width > 1024px) {
  .article {
    width: 75%;
    border-right: #478384 dashed 2px;
  }
}
