video {
  margin : 2vh auto;
  padding: 0;
}

.article ul {
  margin         : 0 0 0 2rem;
  list-style-type: square;
}

.article ol {
  margin         : 0 0 0 2rem;
  list-style-type: decimal;
}

.article {
  @apply w-8/12 sm:w-full md:w-11/12 lg:w-3/4 xl:w-3/4;
  @apply sm:border-b-2 md:border-b-2 lg:border-r-2 xl:border-r-2;
  margin   : 0 0 2rem;
  padding  : 0 2rem;
  font-size: 1rem;
  border-style  : dashed;
  border-color  : #478384;
}

.article a {
  font-size : 1rem;
  font-style: italic;
  color     : #38b48b;
}

.article a:hover {
  color: #00a381;
}

.article img {
  margin        : 1.5rem auto;
  padding       : 0;
  max-width     : 60vw;
  max-height    : 40vh;
  user-select   : none;
  pointer-events: none;
}

.content {
  margin-bottom: 1.5rem;
}

.article .icon {
  margin: 2rem;
  width : 4vw;
}
