.images {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  height         : auto;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
}

.images img {
  margin        : 0.2rem;
  padding       : 0;
  max-width     : 45vw;
  max-height    : 45vh;
  user-select   : none;
  pointer-events: none;
}