@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto');

html, body {
  margin         : 0;
  padding        : 0;
  width          : 100%;
  height         : 100%;
  font-family    : 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color           : #eaf4fc;
  background-color: #2b2b2b;
}

a {
  color          : #eaf4fc;
  text-decoration: none;
}

a:visited {
  color: #eaf4fc;
}

blockquote {
  margin     : 0.4rem 0;
  padding    : 0 0 0 0.5rem;
  font-style : italic;
  border-left: 2px solid #e8ecef;
}

h1 {
  margin     : 0 0 2rem 0;
  padding    : 0 0 0 1rem;
  width      : 100%;
  height     : auto;
  font-size  : 2rem;
  border-left: 4px solid #478384;
}

h2 {
  margin     : 1rem 0;
  padding    : 0 0 0 1rem;
  width      : 100%;
  height     : auto;
  font-size  : 1.5rem;
  border-left: 2px solid #478384;
}

h3 {
  margin       : 1rem 0;
  padding      : 0;
  width        : 100%;
  height       : auto;
  font-size    : 1.2rem;
  font-style   : bold;
  border-bottom: 2px dotted #478384;
}

h4 {
  margin    : 1rem 0;
  padding   : 0;
  width     : 100%;
  height    : auto;
  font-size : 1.2rem;
  font-style: bold;
}

pre {
  margin          : 0.5rem 0;
  padding         : 1rem 1rem;
  font-family     : source-code-pro, Menlo, Monaco, Consolas, monospace;
  font-size       : 0.8rem;
  border-radius   : 4px;
  background-color: #4f4c61;
  overflow-x      : auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #eaf4fc #4f4c61;
}

pre code {
  margin          : 0;
  padding         : 0;
  background-color: none;
  border          : none;
}

code {
  display         : inline-block;
  margin          : 0;
  padding         : 0.1rem 0.4rem;
  background-color: #4f4c61;
  font-size       : 0.8rem;
}

#root {
  margin   : 0;
  padding  : 0;
  width    : 100%;
  height   : 100%;
  font-size: 1rem;
}
